{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container" style="margin-top: 30px;">
      <legend class="border-bottom mb-4" style="color: white;">Sign Up</legend>
        <div class="form">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="row" style="width:80%;">
                <fieldset class="form-group">
                          {{ user_form|crispy }}
                          {{ profile_form|crispy }} 
                          <input type="hidden" name="base64_data" id="base64" value="">
                </fieldset>  
              </div>
                <br>
                <div class="play-area" style="display: flex;">
                  <div class="column" style="flex: 54%;">
                      <button id="btn-start" type="button" class="button" style="background-color: #080808; color:#ccc; border: none; font-size: 0.85rem;">
                          VIEW STREAM</button>
                      <div class="play-area-sub">
                          <video id="stream" width="600" height="400" autoplay style="background-color: #fff; display:none" ></video>
                          <canvas id="canvas" width="600px" height="400px" style="background-color: #fff;"></canvas>
                      </div>
                  </div>
                  
                  <div class="column" style="flex: 46%;">
                      <button id="btn-capture" type="button" class="button" style="background-color: #080808; color:#ccc; border: none; font-size: 0.85rem;">
                          CAPTURE IMAGE</button>
                      <div class="play-area-sub">
                          <canvas id="capture" width="310" height="233" style="background-color: #fff;"></canvas>
                          <div id="snapshot" style="display:none;"></div>
                      </div>
                  </div>
              </div>
              <button id="btn-stop" type="button" class="button" style="display:none;">Stop Streaming</button> 
              <br>
              <div class="form-group" id="signup-button">
                <button class="btn " id="signup">Sign Up</button>
              </div>            
          </form>
        </div>
          
        <!-- <div class="column" style="flex:50%; ">
              <div class="play-area" style="margin-left: 5.5%;">
                <button id="btn-start" type="button" class="button" style="background-color: #080808; color:#ccc; border: none; font-size: 0.85rem;">
                    VIEW STREAM</button>
                <div class="play-area-sub">
                  <video id="stream" width="600" height="400" autoplay style="background-color: #fff; display:none" ></video>
                    <canvas id="canvas" width="500px" height="333px" style="background-color: #fff;"></canvas>
                </div>
                <button id="btn-capture" type="button" class="button" style="background-color: #080808; color:#ccc; border: none; font-size: 0.85rem;">
                    CAPTURE IMAGE</button>
                <div class="play-area-sub">
                  <canvas id="capture" width="300" height="200" style="background-color: #fff;"></canvas>
                  <div id="snapshot" style="display:none;"></div>
                </div>
              </div>
              <button id="btn-stop" type="button" class="button" style="display:none;">Stop Streaming</button> 
        </div> -->
      
          <!-- <div class="form-group">
              <small class="text-muted ml-3" >Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
          </div> -->
        
    </div>
    <script src="{% static 'users/js/script.js' %}"></script>
{% endblock %}